@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@600&family=Varela+Round&display=swap');
head {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.logo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 70px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    font-size: 50px;
}
.home-title {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-area: 9;
    font-family: "Varela Round";
    font-size: 50px;
    color: black;
   }
.bordercollie {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-area: 10;
    width: 30%;
}
h4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-area: 9;
    font-family: "Varela Round";
    font-size: 30px;
    color: black;
}
body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: white;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 18px;
    text-indent: 10%;
}
.dogface {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 27em;
}

